# Puerto donde corre el servidor
PORT=4000

# Cadena de conexión a MongoDB Atlas (sin usuario ni contraseña)
MONGO_URI=mongodb+srv://db_user:db_password@iudigital.cxyzfkg.mongodb.net/?appName=iudigital 

# Nombre de la base de datos
DB_NAME=peliculas_db
